<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog>
        <variable name="logDirectory" value="F:\Hobby\Games\ThreeIsACrowd Code Compare\GameEngine\GameEngine.WebServer\App_Data" />
        <targets>
            <target name="debug" type="File" filename="${logDirectory}\TIC.log" />
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="debug" />
        </rules>
    </nlog>
    <appSettings>
        <add key="DataFolder" value="/App_Data/"/>
        <add key="LevelData" value="F:\Hobby\Games\ThreeIsACrowd Code Compare\GameLevelData\level_1.xml"/>
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="soapEndpointBehavior" />
                <behavior name="jsonEndpointBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehaviorOpen">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="None"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
        <services>
            <service behaviorConfiguration="ServiceBehaviorOpen" name="GameEngine.WebServer.Services.GameServiceCSharp">
                <endpoint address="Soap" behaviorConfiguration="soapEndpointBehavior"
                    binding="basicHttpBinding" bindingConfiguration="SoapBinding" name="SoapEndpoint"
                    contract="GameEngine.WebServer.Services.ICSharpService" />
                <endpoint address="Json" behaviorConfiguration="jsonEndpointBehavior"
                    binding="webHttpBinding" bindingConfiguration="" name="JsonEndpoint"
                    contract="GameEngine.WebServer.Services.ICSharpService" />
            </service>
          <service behaviorConfiguration="ServiceBehaviorOpen" name="GameEngine.FSharp.FService">
            <endpoint address="Soap" behaviorConfiguration="soapEndpointBehavior"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding" name="SoapEndpoint"
                contract="GameEngine.FSharp.IFSharpService" />
            <endpoint address="Json" behaviorConfiguration="jsonEndpointBehavior"
                binding="webHttpBinding" bindingConfiguration="" name="JsonEndpoint"
                contract="GameEngine.FSharp.IFSharpService" />
          </service>
        </services>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
