<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58250/Services/GameService.CSharp.svc/Soap"
                binding="basicHttpBinding" bindingConfiguration="SoapEndpoint"
                contract="TIC_Webservice.ICSharpService" name="SoapEndpoint" />
        </client>
    </system.serviceModel>
</configuration>